h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 120px;
}
