//Base
$white: #FFFFFF;
$black: #000000;
//General
$bg: #F9F8F3;
$on-bg: #5F5D75;
$on-bg-low: #737380;
$bg-footer: #1E1B3A;
$bg-footer-low: #2A264F;
$bg-footer-lowest: #3C376E;
$on-bg-footer: #B9B5C9;
$surface: #FFF9E5;
$surface-low: #FFFCF5;
$primary: #FFD02B;
$primary-low: #FDE047;
$primary-high: #E5BB00;
$on-primary: #242145;
$secondary: #F0EEFF;
$tertiary: #3A2EBF;
$like: #FF4B4B;
$error: #B3261E;
$price-free: #0B8A8F;
//Borders
$outline: #E5E7EB;
$outline-variant: #D2D2D2;
//Additional
$avatar-random-1: #E9EEF6;
$avatar-random-2: #A3E2C9;
$avatar-random-3: #BCE3FF;
$avatar-random-4: #FFC6FF;
$avatar-random-5: #E8DFF5;