@use './color-tokens' as *;

//Size
$size-05: 4px;
$size-1: 8px;
$size-2: 16px;
$size-3: 24px;
$size-4: 32px;
$size-5: 40px;
$size-6: 48px;
$size-7: 56px;
$size-8: 64px;
$size-9: 72px;
$size-10: 80px;
$size-11: 88px;
$size-12: 96px;
$size-13: 104px;
$size-14: 112px;
$size-15: 120px;

//Corner
$corner-extra-small: 4px;
$corner-medium: 8px;
$corner-small: 12px;
$corner-large: 16px;
$corner-extra-large: 24px;
$corner-full: 9999px;

//Button
$btn-large: 24px 16px;
$btn-medium: 20px 10px;
$btn-small: 16px 8px;
$btn-icon: 8px;

//Shadow
$level-1: 4px 4px $on-primary;
$level-2: 6px 6px $on-primary;
$level-3: 8px 8px $on-primary;
